# How to compute attitude of robot

In [ ]:
import numpy as np
import numpy.ma as ma
from coordinates import Coordinate

We know which leg is touching the floor with:
- touching var is a bool array representing if the leg is touching the floor
- mov var is an array of the displacement in X of the leg

In [ ]:
touching = np.array([True, False, True, False])
mov = np.array([-1, -1, -0.5, 0])

We use masked array to work only on the movement of the legs that are touching the floor

In [ ]:
mov_mx_x = ma.masked_array(mov, mask=np.invert(touching))
mov_mx_x

In [ ]:
nb_touching_legs = np.sum(touching)

delta_x = 0  # Represent the change of attitude in X

if np.abs(np.sum(np.sign(mov_mx_x))) == nb_touching_legs:
    # This means the legs are moving in the same direction
    min_mov = mov_mx_x[np.argmin(np.abs(mov_mx_x))]
    delta_x += min_mov
    mov_mx_x -= min_mov

In [ ]:
mov_mx_x

# Actuation repeat same sequence

In [ ]:
steps = 3
actuation = np.concatenate(
    (
        np.linspace(0, 5 * 2, num=steps),
        np.linspace(5 * 2, 0, num=steps)
    ),
    axis=0
)
actuation = np.tile(actuation, 2)

In [ ]:
actuation

# Pandas multi level

In [1]:
import pandas as pd
import numpy as np

In [17]:
d = {}
d['J1'] = pd.DataFrame(columns=['A', 'B'])
d['J2'] = pd.DataFrame(columns=['A', 'B'])
d['J3'] = pd.DataFrame(columns=['A', 'B'])
d = pd.concat(d, axis=1)

In [19]:
d['J1'].append({'A': 1, 'B': 2}, ignore_index=True)

   A  B
0  1  2

In [20]:
d

Empty DataFrame
Columns: [(J1, A), (J1, B), (J2, A), (J2, B), (J3, A), (J3, B)]
Index: []